In [1]:
import numpy as np, scipy.stats as st
import statsmodels.stats.api as sms
import pandas as pd
import matplotlib.pyplot as plt

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [163]:
data =  pd.ExcelFile("/Users/uliakaliberda/Downloads/LabsMS/Lab3.xls")
df = data.parse("вар1")
first = pd.DataFrame()
first["A"] = df["X1"]
first["A"][:10]

0    дисперсия =100
1           64.5657
2           49.9998
3           66.4977
4           63.1773
5           47.4837
6            59.371
7           67.3733
8           53.9756
9           73.7326
Name: A, dtype: object

In [164]:
a_0 = 65
sigma_0 = 16
alpha = 0.05

In [165]:
a = []
for i in first["A"]:
   a.append(i)  
a.pop(0)

'дисперсия =100'

Task 1.

In [166]:
norm = np.mean(a)
norm

63.32069715921534

In [167]:
quant = st.norm.ppf(0.95)
quant #normal quantile

1.6448536269514722

In [168]:
d = 100;
left = norm - quant*d/(len(a))**0.5
right = norm + quant*d/(len(a))**0.5
left, right #confidence interval

(40.05895408568187, 86.58244023274881)

In [169]:
if left<=a_0<=right:
    print("H0")
else:
    print("H1")

H0

Task 2.

In [170]:
first["B"] = df["X2"]
a = []
for i in first["B"]:
   a.append(i)  
a.pop(0)
norm = np.mean(a)
norm #mean

65.24786265839793

In [171]:
a_0 = 65

In [172]:
sq = st.t.ppf(0.95,a_0)
sq

1.6686359756775713

In [173]:
s = [(a[i]-norm)**2 for i in range (len(a))]
d = ((np.sum(s))/len(a)-1)
d #chosen dispersion

243.34938003815404

In [174]:
if (len(a))**0.5 * np.abs(norm - a_0)/d**0.5 > sq:
    print("H0")
else:
    print("H1")
print((len(a))**0.5 * np.abs(norm - a_0)/d**0.5)

H1
0.11235204543260582

Task 3.

In [175]:
d_0 = 16

In [176]:
q1 = st.chi2.ppf(0.95,len(a)-1)
q2 = st.chi2.ppf(0.05,len(a)-1)
print(q1,q2) #quantiles

66.3386488629688 33.93030561852784

In [177]:
left = (len(a)-1)*(d**0.5)/q1;
right = (len(a)-1)*(d**0.5)/q2;
print(left,right) #interval

11.522443313711996 22.528041144858026

In [178]:
if left<=d_0<=right:
    print("H0")
else:
    print("H1")

H0

Task 4.

In [179]:
d1 = 100
d2 = 200
first["C"] = df["Y1"]
a = []
b = []
for i in first["B"]:
   b.append(i)  
b.pop(0)
normb = np.mean(b)
normb #mean
for i in first["C"]:
   a.append(i)  
a.pop(0)
norma = np.mean(a)
norma #mean

66.18736602416902

In [180]:
z = (norma-normb)*(d1**2/len(b) + d2**2/len(a))**(-0.5)
z

0.02970970505230914

In [181]:
quant = st.norm.ppf(0.475)
quant

-0.06270677794321385

In [182]:
if z>quant:
    print("H0")
else:
    print("H1")

H0

Task 5.

In [183]:
first["D"] = df["Y2"]
a = []
b = []
for i in first["D"]:
   a.append(i)  
a.pop(0)
for i in first["B"]:
   b.append(i)  
b.pop(0)

'дисперсия неизвестна'

In [184]:
s1 =  [(a[i]-np.mean(a))**2 for i in range (len(a))]
s1 = np.sum(s1)/len(a)
s2 =  [(b[i]-np.mean(b))**2 for i in range (len(b))]
s2 = np.sum(s2)/len(b)

In [185]:
quant = st.norm.ppf(0.025)
z = np.abs(np.mean(a)-np.mean(b))/((s1+s2)/len(a))**0.5
z

0.24376208119350232

In [186]:
if z>quant:
    print("H0")
else:
    print("H1")

H0

Task 6.

In [187]:
F = 1.565 #nearest IMHO

In [188]:
s1 = [(a[i]-np.mean(a))**2 for i in range (len(a))]
d1 = ((np.sum(s1))/len(a)-1)
s2 = [(b[i]-np.mean(a))**2 for i in range (len(a))]
d2 = ((np.sum(s2))/len(a)-1)

In [189]:
if d2/d1>F:
    print("H0")
else:
    print("H1")

H1

Task 7.

In [190]:
first["E"] = df["Z1"]
first["F"] = df["Z2"]
first["G"] = df["Z3"]
first["H"] = df["Z4"]
first

,A,B,C,D,E,F,G,H
0,дисперсия =100,дисперсия неизвестна,дисперсия =9,дисперсия неизвестна,22.995792,26.014273,27.469176,29.726317
1,64.5657,89.0688,60.1029,80.6096,24.895072,28.787045,23.861704,19.854461
2,49.9998,76.9808,65.245,60.0976,23.414523,25.729378,25.816055,25.467553
3,66.4977,48.8252,65.6076,71.7814,23.088679,19.572354,28.354924,30.338334
4,63.1773,74.2908,63.5464,53.0822,25.308205,27.107472,20.833277,21.429679
5,47.4837,70.6952,69.4048,69.946,27.469160,26.860708,26.754173,23.210596
6,59.371,61.5038,67.4721,71.4135,21.568913,30.250176,26.117608,22.767382
7,67.3733,59.9363,60.8815,41.5623,25.979740,23.920493,27.636971,29.042940
8,53.9756,97.4018,71.7749,78.2559,24.358110,33.067727,25.987268,25.820428
9,73.7326,64.8147,61.8836,87.3146,23.285725,30.771544,23.765913,24.968022
10,60.8722,79.2068,71.5784,61.4979,24.309107,31.010450,28.479615,29.135300
11,58.4519,83.7872,62.6375,42.4217,25.668847,12.937044,22.828911,25.482960
12,85.6868,33.6099,66.6437,66.6736,29.389003,19.780082,27.745066,25.203727
13,76.5703,69.4063,72.1582,46.2579,25.197304,27.060160,28.999849,29.833164
14,42.9082,69.1852,64.5419,81.3794,23.901526,24.023917,21.872161,32.873932
15,65.9296,72.9044,70.1688,64.3279,24.983706,27.884453,23.326075,25.360797
16,63.4443,61.4472,60.1073,78.5294,27.557445,27.204069,26.203432,27.124370
17,88.1468,54.9894,65.9346,49.1899,27.862571,29.631702,25.747915,21.203369
18,49.6191,70.1196,64.6738,86.6011,26.596604,26.225917,29.195822,28.758396
19,69.9445,78.4126,64.9829,64.6069,29.238755,24.013194,22.065256,22.626528
20,70.2055,67.0043,66.4608,94.9195,26.317408,22.432105,23.871315,23.748399
21,57.2979,53.7745,68.0921,78.3597,26.609469,28.921887,28.510372,20.513017
22,74.7136,79.4769,66.3963,60.5781,21.515726,29.495605,29.224696,32.691160
23,64.2899,74.5662,62.7791,24.6468,25.014152,23.518711,26.942592,28.737514
24,66.8328,66.5144,71.3734,87.7508,27.136494,17.852972,25.318100,25.755845
25,62.0457,35.2955,64.3622,85.6367,27.649540,23.897310,25.387663,25.892123
26,68.7598,42.7683,67.6832,73.3268,27.686420,21.315191,22.259115,27.204424
27,54.821,63.0339,66.5577,62.4396,24.802390,26.297958,21.854726,25.116142
28,51.6111,55.2403,67.5204,65.1876,25.377454,22.529858,26.695422,21.100323
29,61.487,34.6666,67.1423,61.1668,22.531495,26.327671,19.176733,29.245476
30,63.2255,67.17,73.8335,61.29,27.200663,24.465526,23.527539,28.919413
31,70.3418,74.8108,66.0845,75.9346,22.023324,25.197906,25.081595,21.883639
32,66.9941,64.013,71.8289,75.4567,27.740962,25.470322,20.767862,20.868347
33,96.3667,85.117,66.0446,61.7686,27.382640,28.099808,24.061057,24.745701
34,69.7646,74.8649,65.5473,61.8484,23.996384,24.762258,24.816864,25.716627
35,47.7165,54.2101,67.3242,61.5639,29.299982,26.732760,26.559288,NaN
36,65.0501,17.2755,66.1011,50.3965,26.554454,23.459230,24.915192,NaN
37,70.3895,78.595,64.8288,28.2948,24.386880,27.900751,22.501398,NaN
38,58.807,40.4096,65.4382,73.8718,26.110948,30.987840,29.330609,NaN
39,73.397,75.1012,65.1898,70.4015,25.277582,22.624336,23.490671,NaN
40,74.822,69.2783,65.9127,78.8286,NaN,31.595255,25.577398,NaN
41,63.7417,51.4671,70.915,68.4338,NaN,26.021858,27.773797,NaN
42,49.9951,60.2993,65.8432,65.1291,NaN,27.976094,25.278663,NaN
43,63.8057,62.0452,62.8197,48.7553,NaN,32.710696,26.591688,NaN
44,59.1037,81.8477,63.9727,65.346,NaN,24.887532,27.289996,NaN
45,59.2342,84.6882,66.6466,81.2736,NaN,22.869991,NaN,NaN
46,48.2189,77.0647,66.8557,38.5209,NaN,20.957060,NaN,NaN
47,58.7178,56.3229,62.4991,63.3298,NaN,21.245406,NaN,NaN
48,47.3217,65.3919,65.6868,84.6421,NaN,24.963129,NaN,NaN
49,47.4086,77.2688,63.1016,57.4364,NaN,24.214856,NaN,NaN
50,71.7976,56.2251,65.1808,77.8355,NaN,NaN,NaN,NaN

In [191]:
a = []
b = []
c = []
d = []
for i in range(40):
    if i!=0:
        a.append(first["E"][i])  
a.pop(0)
for i in range(50):
    if i!=0:
        b.append(first["F"][i])  
b.pop(0)
for i in range(45):
    if i!=0:   
        c.append(first["G"][i])  
c.pop(0)
for i in range(35):
    if i!=0:
        d.append(first["H"][i])  
d.pop(0)
print(d)

[25.467553036287427, 30.33833372173831, 21.429678503773175, 23.210596459102817, 22.767381501034833, 29.042940418003127, 25.820427885628305, 24.968022166285664, 29.135299604968168, 25.48295987653546, 25.203726813197136, 29.833163984585553, 32.87393219070509, 25.36079654819332, 27.124370439560153, 21.203368937131017, 28.75839590560645, 22.62652805657126, 23.748398866155185, 20.513016983750276, 32.6911601354368, 28.737513907253742, 25.75584466685541, 25.892123352969065, 27.204424163210206, 25.116142473416403, 21.100323187420145, 29.24547579314094, 28.919412847608328, 21.883639141742606, 20.86834746878594, 24.74570073391078, 25.71662725531496]

In [192]:
x_1 = np.mean(a)
x_2 = np.mean(b)
x_3 = np.mean(c)
x_4 = np.mean(d)
x = [x_1,x_2,x_3,x_4]

In [193]:
sorted(x)

[25.31475919545195, 25.557973483713187, 25.626112846715074, 25.84198869775388]

In [194]:
z = np.abs(x[0]-x[1]/x[0]-x[3])
z

1.2132168694207408

In [199]:
quant = st.norm.ppf(0.95)
quant

1.6448536269514722

In [197]:
if z>=quant:
    print("H0")
else:
    print("H1")

H1